#clock-visuals-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  & svg {
		stroke-width: 0.5;

    & circle {
      stroke: none;
      fill: var(--color-medium);
      opacity: 0.325;
    }

    & text {
      font-weight: bold;
			stroke: none;
    }
    & text#label {
      font-size: 1.25rem;
      fill: var(--accent-medium);
    }
    & text#left {
			font-size: 2.5rem;
      fill: var(--color-light);
    }

    & path#session {
      fill: var(--accent-medium);
      stroke: var(--accent-medium);
    }
    & path#break {
      fill: var(--accent-dark);
      stroke: var(--accent-dark);
    }
  }

  &:not(.active) svg {
    & path#progress {
      visibility: hidden;
    }
  }

  &.active svg {
    & path#progress {
      visibility: visible;
      fill: var(--color-medium);
      stroke: var(--color-medium);
    }
  }

	&.active.break svg {
		& text#label {
			fill: var(--accent-dark);
		}
	}
}

#clock-buttons-wrap {
  text-align: center;

  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  & #clock-buttons {
    display: flex;
    gap: var(--size-0-25);
    padding-top: 35%;
  }

  & button {
		display: inline-flex;
		justify-content: center;
		align-items: center;

    width: var(--size);
    height: var(--size);
    margin: 0;
    padding: 0;

    font-size: var(--size-0-625);
    line-height: 1;

    border-radius: 0.625rem;

		&:hover {
			border-color: var(--accent-light);
			color: var(--accent-light);
		}
  }
  /* & a {
    width: var(--size);
    height: var(--size);
    margin: 0;
    padding: 0;

    font-size: var(--size);
    line-height: 1;

    border-radius: 50%;
  } */
}
