:root {
  /* https://coolors.co/0d1b2a-587b7f-cddddd-f64740-a3333d */

  /* --rich-black: #0d1b2a;
  --steel-teel: #587b7f;
  --gainsboro: #cddddd;
  --tart-orange: #f64740;
  --vivid-burgundy: #a3333d; */

  /* --clr-dark: var(--rich-black);
  --clr-medium: var(--steel-teel);
  --clr-light: var(--gainsboro);
  --accent-dark: var(--vivid-burgundy);
  --accent-light: var(--tart-orange); */

  /* https://coolors.co/050a10-435d60-c2d6d6-679436-cbbb2a */

  --rich-black: #050a10;
  --charleston: #212e30;
  --outer-space: #2a393c;
  --deep-space: #435d60;
  --pewter-blue: #87a7ab;
  --opal: #c2d6d6;

  --lincoln-green: #295115;
  --sap-green: #3f7d20;
  --max-green: #679436;
  --green-ryb: #72b01d;

  --kelly-green: #62c332;
  --lime-green: #79d14d;
  --granny-smith: #aae28d;

  --color-dark: var(--rich-black);
  --color-medium: var(--charleston);
  --color-light: var(--opal);

  --accent-dark: var(--lincoln-green);
  --accent-medium: var(--kelly-green);
  --accent-light: var(--granny-smith);

  /* https://coolors.co/050a10-212e30-248232-2ba84a-4abde3 */

  /* https://coolors.co/050f06-1a2821-b5a886-fee1c7-ff1900 */
  /* https://coolors.co/050f06-1a2821-ffc15e-f7b05b-ff1900 */

  /* https://coolors.co/050f06-1a2821-d16014-939f5c-bbce8a */

  /* https://coolors.co/050f06-1a2821-fefae0-dda15e-bc6c25 */
}
