/*
.accent-dark {
  stroke: var(--accent-dark);
}

.accent-light {
  stroke: var(--accent-light);
}

.hidden {
  display: none;
}
*/


#main:not(.active) {
	& circle {
		stroke: var(--clr-medium);
	}

  & path {
    stroke: var(--clr-light);
  }

  & line {
    display: none;
  }
}

.active {
	& circle {
		stroke: var(--clr-medium);
	}

  & path {
    stroke: var(--accent-light);
  }
  & line {
    stroke: var(--clr-light);
  }
}
