@import '@css/queries.css';
@import '@css/colors.css';

html {
  background-color: var(--color-dark);
  color: var(--color-light);
}

@media --light {
  html {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}

#root {
  width: min(1280px, 100%);
  min-height: 100vh;

  margin: 0 auto;
  padding: 1rem;

  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
}

#clock-wrap {
  --size: clamp(2.5rem, 12vmin, 4rem);

  --size-0-125: calc(0.125 * var(--size));
  --size-0-25: calc(0.25 * var(--size));
  --size-0-625: calc(0.625 * var(--size));

  position: relative;
  min-width: max(160px, 50vmin);
  max-width: 480px;
  aspect-ratio: 1 / 1;

  margin: 2rem auto;
}

#settings-wrap {
  max-width: 640px;
  margin: 0 auto;

  border-radius: 0.5rem;
  border: 1px solid var(--color-medium);
  background: #0009;

  & > div {
    padding: 1rem;
  }
}

#disclaimer-wrap {
  flex-basis: 100%;
  align-self: flex-end;

  padding: 1rem 0;
  opacity: 0.5;

  font-size: 0.75rem;
  text-align: center;

  & a {
    text-decoration: underline;
  }
}

@media (--mq-min-480) {
  #settings-wrap {
    display: flex;
  }

  #settings-wrap > div {
    flex: 1 1 calc(50% - 1rem);

    &:first-of-type {
      border-right: 1px solid var(--color-medium);
    }
  }
}

@media (--mq-min-960) {
  #root {
    padding: 2rem;
  }
  .App {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    align-items: center;
  }

  .App > * {
    flex: 1;
  }
}

button {
  cursor: pointer;

  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  color: var(--color-light);
  background-color: var(--color-medium);

  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:not([disabled]):hover {
    background-color: var(--accent-dark);
    color: var(--accent-light);
  }
  &:not([disabled]):active {
    background-color: var(--accent-medium);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &[disabled] {
    color: var(--color-dark);
  }
}

*::selection {
  background-color: var(--accent-dark);
}

input {
  accent-color: var(--accent-medium);
}

button:focus-visible,
select:focus-visible,
input:focus-visible {
  outline-color: var(--accent-medium);
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 1px;
}
